* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: white;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url( resources/images/background.jpg);
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}

nav ul {
	list-style-type: none;
	float: right;
	margin: 20px 30px;
}

nav ul li {
	display: inline-block;
	margin: 0 30px;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	color: white;
	transition: border-bottom 0.2s;
}

nav a:hover,
nav a:active {
	border-bottom: 2px solid #1abc9c;
	padding-bottom: 5px;
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100vw;
}

.slogan-h {
	font-size: 600%;
	font-weight: 100;
}

.slogan-p {
	font-size: 200%;
	font-weight: 400;
	margin-bottom: 50px;
}

div a {
	border-radius: 3px;
	padding: 10px 20px;
	margin: 20px;
	text-transform: uppercase;
}

.main {
	color: #1abc9c;
	background-color: white;
}

.second {
	color: white;
	background-color: #1abc9c;
}

div a:link,
div a:visited {
	text-decoration: none;
	transition: color 0.2s, background-color 0.2s;
}

div a:hover,
div a:active {
	color: white;
	background-color: #16a085;
}





























