* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: white;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url( resources/images/background.jpg);
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}

nav ul {
	list-style-type: none;
	float: right;
	margin: 20px 30px;
}

nav ul li {
	display: inline-block;
	margin: 0 30px;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	color: white;
	transition: border-bottom 0.2s;
}

nav a:hover,
nav a:active {
	border-bottom: 2px solid #1abc9c;
	padding-bottom: 5px;
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-55%);
	text-align: center;
	width: 100vw;
}

.slogan-h {
	font-size: 600%;
	font-weight: 100;
}

.slogan-p {
	font-size: 200%;
	font-weight: 400;
	margin-bottom: 50px;
}

div a {
	border-radius: 3px;
	padding: 10px 20px;
	margin: 20px;
	text-transform: uppercase;
}

.main {
	color: #1abc9c;
	background-color: white;
}

.second {
	color: white;
	background-color: #1abc9c;
}

div a:link,
div a:visited {
	text-decoration: none;
	transition: color 0.2s, background-color 0.2s;
}

div a:hover,
div a:active {
	color: white;
	background-color: #16a085;
}

.destination img {
	width: 100%;
	height: 40vh;
	opacity: 0.7;
	transform: scale(1.2);
	transition: opacity 0.2s, transform 0.2s;
	backface-visibility: hidden;
}

.destination img:hover {
	width: 100%;
	height: 40vh;
	opacity: 1;
	transform: scale(1);
}

.destination {
	padding: 0;
	width: 100%;
	background-color: #000;
	overflow: hidden;
}

.section-showcase {
	display: block;
	width: 100%;
	margin-bottom: 100px;
}

.places-showcase {
	width: 100%;
	list-style-type: none;
}

.places-showcase li {
	display: block;
	float: left;
	width: 25%;
}

figure {
	margin: 0;
}

.section-works {
	color: black;
	background-color: #fcfcfc;
	padding-top: 80px;
	padding-bottom: 100px;
	margin-top: 800px;
}

h2 {
	margin: 0 auto;
	margin-top: 30px;
	font-weight: 300;
}

h2:after {
	display: block;
	content: '';
	background-color: #1abc9c;
	height: 2px;
	width: 100px;
	margin: 25px auto;
}

h3 {
	text-align: center;
	border: 2px solid #1abc9c;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 6px;
}

h3+p {
	font-size: 25px;
	padding: 20px;
	text-align: justify;
	letter-spacing: 0.5px;
}

.steps {
	margin-top: 50px;
}

.section-upcoming {
	color: black;
	margin-bottom: 100px;
	padding: 0 10%;
}

.tour {
	display: block;
	float: left;
	width: 22.5%;
	text-align: left;
	border: 2px solid #1abc9c;
	padding: 20px 30px 10px 30px;
	margin: 1.25%;
	background-color: #fcfcfc;
}

.tours img {
	width: 100%;
}

.tours figure {
	margin-bottom: 3%;
}

.container-fluid .row:last-child {
	margin-top: 30px;
}

.country {
	font-size: 150%;
	text-align: center;
}

.join {
	margin-top: 40px;
	text-align: center;
}

i {
	margin-right: 4%;
	font-size: 150%;
}

.ion-map {
	color: #16a085;
}

.description {
	margin: 0;
	font-size: 90%;
}

.duration {
	margin-right: 3.3%;
}

.capacity {
	margin-right: 3%;
}

.section-package {
	margin-bottom: 10%;
	color: black;
	background-color: #f4f4f4;
}



h4,
h4+p {
	font-size: 150%;
	text-align:center;
	font-weight: 300;
}

h4+p {
	font-size: 250%;
	font-weight: 100;
}


.signup{
	text-align: center;
	margin-top: 25px;
}

.signup a {
	border-radius: 50px;
	padding: 10px 30px;
}

.signup-a {
	border: 1px solid #1abc9c;
}

.offer {
	padding-left: 20px;
	margin-bottom: 0;
}

.offers {
	background-color: #fff;
	padding-bottom: 50px;
}

.offer i {
	color: #1abc9c;
	font-size: 220%;
	vertical-align: middle;
}

.type {
	background-color: #fcfcfc;
	padding-top: 5%;
}

.type h4,
.type p {
	margin: 0;
}

.type p {
	padding-bottom: 5%;
}

.cancel {
	text-decoration: line-through;
}

.journey {
	margin-top: 60px;
	margin-bottom: 30px;
}

.package {
	margin-bottom: 130px;
}

.section-who {
	color: black;
	margin-top: 50px;
	margin-bottom: 50px;
}

.who {
	font-weight: 300;
	margin-bottom: 30px;
}

.section-who p {
	text-align: justify;
	font-size: 100%;
	padding: 30px;
	font-weight: 300;
	line-height: 200%;
}

.container-fluid-own {
	width: 70vw;
	margin: 0 auto;
}

.icon-who {
	font-size: 350%;
	color: #1abc9c;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0;
}



































